/* tints */
/* color #ffcb05 
#231f20 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #231f20;
}

.section-hero {
  height: 100vh;
}

.wrapper {
  width: 120rem;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0;
}

.logo {
  width: 5rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
}

nav ul li {
  text-transform: uppercase;
  position: relative;
}

.list-item::after {
  position: absolute;
  content: "";
  width: 0;
  bottom: -8px;
  left: 0;
  transition: width ease 0.5s;
  border: 2px solid white;
}

.list-item:hover::after {
  border: 2px solid #ffcb05;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #231f20;
}

.resume {
  background-color: #ffcb05;
  color: #231f20;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  margin-left: 16rem;
}

.hero-content {
  margin-top: 4.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left-col {
  padding: 0 2.4rem 2.4rem 0;
}

.left-col h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
}

.react {
  position: relative;
}

.react::before {
  /* display: inline-block; */
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  border: 2px solid #ffcb05;
  width: 100%;
}

.left-col p {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.hero-btns {
  display: flex;
  gap: 2.4rem;
  margin-top: 2.4rem;
  width: 48rem;
}

.hero-btns a {
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 1.6rem 2.4rem;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all ease 0.3s;
}

.btn-hire-me:link,
.btn-hire-me:visited {
  border: 2px solid #231f20;
  color: #231f20;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  z-index: 999;
}

.btn-hire-me::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #231f20;
  width: 100%;
  height: 100%;
  border: 3px solid #231f20;
  border-radius: 8px;
  transform: translateX(-100%);
  transition: all ease 0.3s;
  z-index: -999;
}

.btn-hire-me:hover::before {
  transform: translateX(0%);
}

.btn-hire-me:hover,
.btn-hire-me:active {
  color: white;
}

.btn-project:link,
.btn-project:visited {
  background-color: #ffcb05;
  color: #231f20;
}

.btn-project:hover,
.btn-project:active {
  background-color: #e6b705;
}

.right-col {
  /* background-image:  url("./Hero.jpg") ;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-image: url('./Hero.jpg'); */
}

.hero-img {
  width: 100%;
  height: 70%;
}
/* about me */
.section-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.4rem;
  background-color: #231f20;
  color: white;
  padding: 2.4rem 9.6rem;
}

.heading-secondary {
<<<<<<< Updated upstream
  grid-column: 1/-1;
  justify-self: center;
=======
>>>>>>> Stashed changes
  font-family: "Playfair Display", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  color: #ffcb05;
  text-align: center;
}

.about {
  padding: 2.4rem 2.4rem 2.4rem 0;
  flex: 0 0 60rem;
}
.about h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 4.8rem;
}
/* .about h2{
  font-family: "Playfair Display", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  color: #ffcb05;
} */

.about p {
  margin-top: 1.6rem;
  font-size: 1.8rem;
  /* font-weight: 500; */
}

.gallery {
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  border: 2px solid #ffcb05;
  width: 100%;
  margin-top: 0.4rem;
}
/* tools section */
.section-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #231f20; */
  height: 20rem;
}

.fundamentals {
  display: flex;
  gap: 2.4rem;
}

.fundamentals img {
  width: 10rem;
  height: 10rem;
  padding: 1.6rem;
  background-color: #ffcb05;
  border: 2px solid #ffcb05;
}

.push-back {
  transform: translate(-100%);
}

/* PROJECTS */
.section-projects {
  height: 100vh;
  background-color: #ffcb05;
}

/* CONTACT */
.section-contact {
  background-color: #231f20;
  /* height: 100vh; */
  color: white;
  padding: 10rem;
}

.ipt {
  font-size: 1.8rem;
  padding: 1rem 0 1rem .5rem;
  width: 50rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffcb05;
  color: white;
  background-color:#393536 ;

  display: block;
}

label{
  display: block;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}

<<<<<<< Updated upstream

input::placeholder,textarea::placeholder{
  color: #ffcb05;
  font-size: 1.4rem;
=======
input::placeholder,
textarea::placeholder {
  /* color: #ffcb05; */
  font-size: 1.6rem;
>>>>>>> Stashed changes
}

/* input[placeholder$="name"]{
  color: #ffcb05;
} */

.contact-form div:not(:last-child) {
  margin-bottom: 3rem;
}

.contact-form{
  /* background-color:#4f4c4d ; */
}

.btn-form{
  border: none;
  background-color: none;
  background-color: #ffcb05;
  /* color: white; */
  font-weight: 500;
  font-size: 1.8rem;
}

<<<<<<< Updated upstream


=======
/* utilities */
.u-margin-bottom-small{
  margin-bottom: 4rem;
}
.u-margin-bottom-medium{
  margin-bottom: 8rem;
  
}
.u-margin-bottom-big{
  margin-bottom: 16rem;

}
>>>>>>> Stashed changes
