/* tints */
/* color #ffcb05 
#231f20 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #231f20;
}

.section-hero {
  height: 100vh;
}

.wrapper {
  width: 120rem;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0;
}

.logo {
  width: 5rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
}

nav ul li {
  text-transform: uppercase;
  position: relative;
}

.list-item::after {
  position: absolute;
  content: "";
  width: 0;
  bottom: -8px;
  left: 0;
  transition: width ease 0.5s;
  border: 2px solid white;
}

.list-item:hover::after {
  border: 2px solid #ffcb05;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #231f20;
}

.resume {
  background-color: #ffcb05;
  color: #231f20;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  margin-left: 16rem;
}

.hero-content {
  margin-top: 4.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left-col {
  padding: 0 2.4rem 2.4rem 0;
}

.left-col h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.react {
  position: relative;
}

.react::before {
  /* display: inline-block; */
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  border: 2px solid #ffcb05;
  width: 100%;
}

.left-col p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 6rem;
}

.hero-btns {
  display: flex;
  gap: 2.4rem;
  margin-top: 2.4rem;
  width: 48rem;
}

.hero-btns a {
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 1.6rem 2.4rem;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all ease 0.3s;
}

.btn-hire-me:link,
.btn-hire-me:visited {
  border: 2px solid #231f20;
  color: #231f20;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  z-index: 999;
}

.btn-hire-me::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #231f20;
  width: 100%;
  height: 100%;
  border: 3px solid #231f20;
  border-radius: 8px;
  transform: translateX(-100%);
  transition: all ease 0.3s;
  z-index: -999;
}

.btn-hire-me:hover::before {
  transform: translateX(0%);
}

.btn-hire-me:hover,
.btn-hire-me:active {
  color: white;
}

.btn-project:link,
.btn-project:visited {
  background-color: #ffcb05;
  color: #231f20;
}

.btn-project:hover,
.btn-project:active {
  background-color: #e6b705;
}

.hero-img {
  width: 100%;
  height: 70%;
}

/* about me */
.section-about {
  background-color: #231f20;
  background-color: #d3d2d2;
  background-color: #f7f7f7;
  background-color: #f3f3f3;
  color: white;
  padding: 2.4rem 9.6rem;
}

.about-wrapper {
  display: flex;
}

.heading-secondary {
  font-family: "Playfair Display", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  color: #ffcb05;
  text-align: center;
}

.about {
  padding: 2.4rem 2.4rem 2.4rem 0;
  flex: 0 0 60rem;
}
.about h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 4.8rem;
}

.about p {
  margin-top: 1.6rem;
  font-size: 1.8rem;
  /* font-weight: 500; */
}

.gallery {
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  border: 2px solid #ffcb05;
  width: 100%;
  margin-top: 0.4rem;
}
/* tools section */
.section-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #231f20; */
  height: 20rem;
}

.fundamentals {
  display: flex;
  gap: 2.4rem;
}

.fundamentals img {
  width: 10rem;
  height: 10rem;
  padding: 1.6rem;
  background-color: #ffcb05;
  border: 2px solid #ffcb05;
}

.push-back {
  transform: translate(-100%);
}

/* PROJECTS */
.section-projects {
  height: 100vh;
  background-color: #ffcb05;
  background-color: #fff5cd;
}

.section-features {
  padding: 15rem 0;
  margin: 0 auto;
  max-width: 120rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, min-content));
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  justify-content: center;
}

.feature {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
}

.feature__icon-box {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.feature__icon-box--quick {
  background-color: #f8d2d1;
}
.feature__icon-box--detail {
  background-color: #e9e1f4;
}
.feature__icon-box--solving {
  background-color: #cdeff7;
}
.feature__icon-box--team {
  background-color: #fcf4ce;
}

.feature__icon {
  width: 3.2rem;
  height: 3.2rem;
}

.feature__icon--quick { 
  fill: #2c0605;
}
.feature__icon--detail { 
  fill: #1d1528;
}
.feature__icon--solving { 
  fill: #02151b;
}
.feature__icon--team { 
  fill: #302802;
}

.feature__title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.feature__text {
  font-size: 1.4rem;
}

/* CONTACT */
.section-contact {
  background-color: #231f20;
  /* height: 100vh; */
  color: white;
  padding: 10rem;
}

.ipt {
  font-size: 1.8rem;
  padding: 1rem 0 1rem 0.5rem;
  width: 50rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffcb05;
  color: white;
  background-color: #393536;

  display: block;
}

label {
  display: block;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}

input::placeholder,
textarea::placeholder {
  /* color: #ffcb05; */
  font-size: 1.6rem;
}

/* input[placeholder$="name"]
  */

.contact-form div:not(:last-child) {
  margin-bottom: 3rem;
}

.btn-form {
  border: none;
  background-color: none;
  background-color: #ffcb05;
  /* color: white; */
  font-weight: 500;
  font-size: 1.8rem;
}

/* utilities */
.u-margin-bottom-small {
  margin-bottom: 4rem;
}
.u-margin-bottom-medium {
  margin-bottom: 8rem;
}
.u-margin-bottom-big {
  margin-bottom: 16rem;
}
